<mat-card>
  <mat-card-header>
    <mat-card-title>Director</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div className="director-title">
      <span className="label h5"><b>Name: </b></span>
      <span className="value">{{director.Name}}</span>
    </div>
    <br>
    <div className="director-bio">
      <span className="label h5"><b>Bio: </b></span>
      <span className="value">{{director.Bio}}</span>
    </div>
    <br>
    <div className="director-birth">
      <span className="label h5"><b>Birth: </b></span>
      <span className="value">{{director.Birth}}</span>
    </div>
    <br>
    <div className="director-death">
      <span className="label h5"><b>Death: </b></span>
      <span className="value">{{director.Death}}</span>
    </div>
  </mat-card-content>
</mat-card>